---
# These task installs and enables apache on webservers
- name: ensure mysql is installed
  yum: name={{ item }} state=present
  with_items:
    - mysql-server
    - MySQL-python
- name: create application database
  mysql_db: name={{ item }} state=present
  with_items:
    - ansible_db01
    - ansible_db02
- name: create application user
  mysql_user: name={{ dbuser }} password={{ dbpassword }} priv=*.*:ALL state=present
